* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


.container {
    padding: 2%;
    text-align: start;
}

.listForm {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-size: 0.80em;
    

}

.list{
    display: flex;
    flex-wrap: wrap;
   
    
}

.listHeader {
    display: flex;
    justify-content: space-between;

}

.removingList {
    margin-top: -5%;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.formButton {
    margin: 0.3em 0;
    width: 30%;
    cursor: pointer;
}

.listForm input {
    padding: 2%;
    border-radius: 2em;
    font-size: 1.5em;
}



.listTrello {
    background-color: #ecf0f1;
    padding: 7%;
    border-radius: 0.5em;
    border: 1px solid gray;
    margin: 1em;
    width: 272px;
    font-size: 1.5em;
     box-shadow: 3px 3px 9px;
}


.card:hover{
    background-color: lightgrey;
}




.mainList input {
    padding: 3%;
    border-radius: 0.4em;
}


.card-container {
    color: black;
    cursor: pointer;
}

.card {
    margin: 1em auto;
    text-align: start;
    background-color: white;
}

.cardAdd {
    display: flex;
    flex-direction: column;
}

.cardInput {
    width: 100%;
}


.cardAddButton {
    margin-top: 0.5em;
    width: 40%;
    font-size: 1em;
    margin-right: 4%;
    cursor: pointer;
}


/* pop up section */



.popHeading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.mainPopUp {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5% 15%;
}

.pop-up {
    padding: 3%;
    font-size: 1.2em;
    /* width: 80%; */
    /* height: auto; */
    /* transform: translate(10%); */
    background-color: #e1e3e4;
    border-radius: 1%;
    display: flex;
}

.removePopUp{
    cursor: pointer;
    border: none;
}

.popUpDetails {
    width: 50%;
    margin-right: 5%;
}

.checkListHead {
    width: 50%;
    margin-left: 5%;
    background-color: white;
}

.checkList {
    padding: 2%;
    display: flex;
    background-color: lightgray;
}

.checkList i{
    margin-left:6%;
}

.checkList p {
    margin-left: 5%;
}


.addingTitle {
    background-color: aliceblue;
    width: 40%;
    position: fixed;
    border-radius: 5%;
    border: 1px solid lightgray;
    padding: 2%;
}
.titles{
    display: flex;
}
.titles h4{
    margin-left: 10%;
}
.titles i{
    margin-top: 5%;
}
.setTitle {
    padding: 5%;
}

.checkListTitle{
    display: flex;
}

.checkListTitle input{
    margin-left: 50%;
}

.deleteCheckList{
    font-size: 0.7em;
    border: none;
    cursor: pointer;
}

.titleHeader {
    display: flex;
    justify-content: space-evenly;
    padding: 2%;
    border-bottom: 1px solid gray;
}

.titleHeader h5 {
    color: gray;
}

.titleHeader button {
    border: none;
    cursor: pointer;
}


.title {
    margin-top: 5%;
}

.title p {
    margin-bottom: 2%;
}

.title input:hover {
    background-color: lightgray;
}

.title input::after {
    border: 1px solid blue
}

.copyItems {
    margin-top: 5%;
}

.copyItems p {
    font-size: 0.8em;
}

.cardsOption {
    width: 85%;
    padding: 2%;
    cursor: pointer;
}

.submitingTitle {
    margin-top: 3%;
    background-color: skyblue;
    cursor: pointer;
}


.comments{
    border:none;
}

.saveButton{
    cursor: pointer;
}

.editDelete button{
    border: none;
    color: black;
    font-size: 0.7em;
    margin-right: 5%;
    margin-left:5%;
    text-decoration: underline;
    cursor: pointer;
}

.checkBox{
display: flex;
padding: 5%;
}
.checkBox:hover{
    background-color: white;
    border-radius: .5em;
}
.dataCheckList{
margin-left: 3%;
}

.checkItems{
    display: flex;
    padding: 3%;
}
.checkItems input{
    margin-right: 3% ;
    margin-top: 3%;
    cursor: pointer;
}
.checkItems:hover{
    background-color: #bdc3c7;
} 

.checkListAdd{
    cursor: pointer;
}